# Bankruptcy Prediction Project
## 1. Data loading and initial exploration

In [7]:
import pandas as pd

In [8]:
dataframe = pd.read_csv("./Bankruptcy_data_Final.csv", delimiter=';')

In [9]:
print(f"number of columns: {dataframe.shape[1]}")
print(f"number of row: {dataframe.shape[0]}")

number of columns: 15
number of row: 92872

In [10]:
dataframe.head(10)

,Data Year - Fiscal,Tobin's Q,EPS,Liquidity,Profitability,Productivity,Leverage Ratio,Asset Turnover,Operational Margin,Return on Equity,Market Book Ratio,Assets Growth,Sales Growth,Employee Growth,BK
0,1979,"0,980","1,580","0,360","0,180","0,130","1,330","1,770","0,070","0,150","2,220",NaN,NaN,NaN,0
1,1980,"0,980","1,410","0,360","0,190","0,120","1,310","1,590","0,070","0,130","2,410","0,126","0,014","0,040",0
2,1981,"0,870","0,310","0,320","0,130","0,080","1,030","1,550","0,050","0,040","2,560","0,368","0,328","0,567",0
3,1982,"1,130","0,710","0,280","0,140","0,080","0,800","1,390","0,060","0,050","5,280","-0,021","-0,119","-0,096",0
4,1983,"1,260","0,750","0,410","0,130","0,080","0,200","1,300","0,060","0,040","8,680","0,233","0,147","0,053",0
5,1984,"1,170","1,500","0,370","0,160","0,110","0,340","1,410","0,080","0,080","7,820","0,132","0,232","0,077",0
6,1985,"1,600","1,260","0,360","0,160","0,110","0,600","1,250","0,090","0,050","20,510","0,276","0,133","0,189",0
7,1986,"1,790","1,460","0,370","0,180","0,120","0,360","1,270","0,100","0,050","25,100","0,186","0,202","0,017",0
8,1987,"1,870","1,340","0,370","0,210","0,120","0,480","1,220","0,100","0,050","42,050","0,212","0,166","0,099",0
9,1988,"1,920","1,550","0,360","0,220","0,130","0,560","1,140","0,110","0,050","46,680","0,251","0,169","0,276",0

In [11]:
dataframe.describe()

       Data Year - Fiscal            BK
count        92872.000000  92872.000000
mean          2004.105888      0.006008
std              9.875926      0.077280
min           1979.000000      0.000000
25%           1998.000000      0.000000
50%           2006.000000      0.000000
75%           2012.000000      0.000000
max           2017.000000      1.000000

In [12]:
missing_values = dataframe.isnull().sum().sort_values(ascending=True)

print("number of missing values per column")
missing_values

number of missing values per column

Data Year - Fiscal       0
BK                       0
EPS                      5
Return on Equity         8
Leverage Ratio          26
Market Book Ratio       57
Productivity           247
Liquidity              247
Profitability          247
Asset Turnover         247
Tobin's Q              252
Operational Margin    5557
Assets Growth         6701
Sales Growth          6701
Employee Growth       7010
dtype: int64